/* .left-image, .right-image {
  position: fixed;
  top: 10%;
  z-index: 1;
  pointer-events: none;
}

.left-image {
  left: 5px;
  width: 100%;
}

.right-image {
  right: 280px;
}

.left-image img, .right-image img {
  width: 180px;
  height: 300px;
  border-radius: 12px;
  opacity: 0.7;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

@media (max-width: 1500px) {
  .left-image, .right-image {
    display: none;
  }
} */

.left-image {
  position: fixed;
  top: 10%;
  z-index: 1;
  pointer-events: none;
   margin-top: 200px;
  width: 100%;
  margin-left: 20px;

}


.right-image {
  position: fixed;
  top: 10%;
  pointer-events: none;
  margin-left: 1450px;
  margin-top: 400px;
  width: 170%;
    height: 500px;

}